name: "Lint"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions:
  actions: write
  contents: write

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # Version 6.0.0
        with:
          fetch-depth: 0

      - name: Cache pip
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # Version 4.3.0
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # Version 6.0.0
        with:
          python-version: "${{ matrix.python-version }}"

      - name: "Install tox"
        run: |
          python -m pip install --upgrade tox tox-gh-actions

      - name: "Run pre-commit with tox"
        run: python -m tox -e precommit
